
<!DOCTYPE html>
<html>
<body>
<title>My_Rails_App </title>

<h2 style="text-align:center;style="font-size:300%;">Information about San Francisco</i></h2>

<H3 style="background-color:yellow">
San Francisco Restaurants
</H3>

<p><i>
San Francisco is one of those cities that need no introduction; like Hollywood and New York, this city already enjoys international renown for everything from sightseeing to shopping to entertainment. Popular San Francisco attractions include fine museums, theaters and destination neighborhoods like Chinatown and Union Square, and Fisherman's Wharf. One sure way to see the sights is to book a double-decker bus tour of the city, or cruise out to Alcatraz or over to see charming Sausalito and the giant redwoods of Muir Woods. Other favorite day trips can include a drive up to award-winning wineries in Napa and Sonoma.
</i></p>

<H3 style="background-color:yellow">
San Francisco Real Estate
</H3>

<p><i>
As one of the worlds most attractive and exciting cities, San Francisco real estate has always been precious and highly sought-after. And while the market has recovered somewhat following the recent unpleasantness, this is still a good opportunity to get into the San Francisco housing market. SanFrancisco.com's real estate allows homebuyers to search MLS listings, has resources to help with moving, and offers a directory of real estate agents. Our real estate guide makes it easy to find San Francisco homes for sale, find a foreclosure, search for an apartment in San Francisco or even find a roommate. Also, search for homes in desirable San Francisco neighborhoods including Pacific Heights, Glen Park, the Marina and Russian Hill.
</i></p>



<p> <i>Check San Francisco Weather Here</i></p>
<a href="https://weather.com/weather/today/l/USCA0987:1:US" target="_blank">San Francisco Weather!!</a>

<div id="footer">
Copyright © ameyparab85@gmail.com
</div>




</body>
</html>
